<h4><%= link_to "New Product", "/products/new" %></h3>

<h3>Products</h3>
<% @products.each do |product| %>
<h4><%= link_to product.name, "/products/#{product.id}" %> </h4>
<ul>
  <li><%= product.description %></li>
  <li><%= product.formatted_price %></li>
</ul>
<% end %>
